{
  "root": true,
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "rules": {
    "camelcase": "off",
    "no-await-in-loop": "off",
    "no-restricted-syntax": "off",
    "no-underscore-dangle": "off"
  }
}
